export PGDATABASE=goods
export DATABASE_URL="postgres://postgres:postgres@localhost/goods?sslmode=disable"
export GOOSE_MIGRATION_DIR=storage/postgres/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"
export CONFIG_PATH=config/local.yaml